@{
    ViewData["Title"] = "Main Index Partial View";

    var imgCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343462/FrutifyPics/category_l0gdfp.jpg";
    var imgFruitCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343464/FrutifyPics/category-2_i9bivp.jpg";
    var imgVegetableCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343464/FrutifyPics/category-1_xkb5wk.jpg";
    var imgJuicesCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343465/FrutifyPics/category-3_hdu29a.jpg";
    var imgSaladsCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343469/FrutifyPics/image_1_fvlfug.jpg";
}

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 img align-self-stretch d-flex" style="background-image: url(@imgCategory);">
                            <div class="text text-center">
                                <h2>Плодовете и Зеленчуците</h2>
                                <p>се грижат за здравето във всеки дом</p>
                                <p><a href="#" class="btn btn-primary">Пазарувай</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap img mb-4 d-flex align-items-end" style="background-image: url(@imgFruitCategory);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Плодове</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap img d-flex align-items-end" style="background-image: url(@imgVegetableCategory);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Зеленчуци</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category-wrap img mb-4 d-flex align-items-end" style="background-image: url(@imgJuicesCategory);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Сокове</a></h2>
                    </div>
                </div>
                <div class="category-wrap img d-flex align-items-end" style="background-image: url(@imgSaladsCategory);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Салати</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>