@model Fruitify.Web.ViewModels.Administration.Receipts.ReceiptWebAllModel
@{
    ViewData["Title"] = "Juices All";
}

<h3 class="text-center">Всички сокове</h3>

<partial name="TablePartial" />

<partial name="PaginationPartial" />
