@model Fruitify.Web.ViewModels.Administration.Receipts.ReceiptWebAllModel
@{
    ViewData["Title"] = "Salads All";
}

<h3 class="text-center">Всички салати</h3>

<partial name="TablePartial" />

<partial name="PaginationPartial" />
