@{
    ViewData["Title"] = "Table head view";
}

<thead class="table-head-fixed tab">
    <tr>
        <th scope="col">
            <a type="button" class="btn btn-primary py-1 px-1" asp-area="Administration" asp-controller="Receipts" asp-action="Create">
                + Нова рецепта
            </a>
        </th>
        <th scope="col">Име</th>
</thead>
