@using Fruitify.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <partial name="CssLinksPartial" />
</head>
<body>
    <header>
        <partial name="TopLinePartial" />
        
        <partial name="NavBarPartial" />
    </header>

    <div class="container border border-success" >
        <partial name="_CookieConsentPartial" />
        <br />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <partial name="FooterPartial" />

    <partial name="ScriptLinksPartial" />

    @this.RenderSection("Scripts", required: false)
</body>
</html>
