@{
    ViewData["Title"] = "Receipt Top Background view";
    var imageBg1 = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343467/FrutifyPics/bg_1_cmhcer.jpg";
}

<div class="hero-wrap hero-bread" style="background-image: url(@imageBg1);"></div>
