@model Fruitify.Web.ViewModels.Administration.Receipts.ReceiptWebAllModel
@{
    ViewData["Title"] = "Receipt Table view";
}

<table class="table">
    <thead class="thead-primary">
        <tr class="text-center">
            <th>&nbsp;</th>
            <th>@ViewData["TableTitle"]</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.Entities)
        {
            <partial name="ReceiptPartial" model="receipt" />
        }
    </tbody>
</table>
