@using Fruitify.Common
@model Fruitify.Web.ViewModels.Administration.Products.ProductWebAllModel
@{
    ViewData["Title"] = "Products All";
}

<h3 class="text-center">Всички продукти</h3>

<partial name="TablePartial" />

<hr />

<partial name="PaginationPartial" />

