@model Fruitify.Web.ViewModels.Administration.Products.ProductWebAllModel
@{
    ViewData["Title"] = "All fruits";
}

<h3 class="text-center">Всички плодове</h3>

<partial name="TablePartial" />

<partial name="PaginationPartial" />
