@model Fruitify.Web.ViewModels.Administration.Products.ProductWebAllModel
@{
    ViewData["Title"] = "All vegetables";
}

<h3 class="text-center">Всички зеленчуци</h3>

<partial name="TablePartial" />

<hr />

<partial name="PaginationPartial" />
