@{
    ViewData["Title"] = "Table head view";
}

<thead class="table-head-fixed tab">
    <tr>
        <th scope="col">
            <a type="button" class="btn btn-primary py-1 px-1" asp-area="Administration" asp-controller="Products" asp-action="Create">
                + Нов продукт
            </a>
        </th>
        <th scope="col">Име</th>
        <th scope="col">Цена</th>
        <th scope="col">Промо цена</th>
        <th scope="col">Продукт на деня</th>
        <th scope="col">Продукт на седмицата</th>
</thead>
