@{
    ViewData["Title"] = "Products table view";
}

<div class="row">
    <div class="text-center">
        <table class="table-hover table-striped" width="100%" border="1" cellspacing="2" cellpadding="4">
            <partial name="TableHeadPartial" />
            <tbody>
                <partial name="ProductPartial" />
            </tbody>
        </table>
    </div>
</div>
@*<div class="row">
    <hr />
</div>*@
