@model Fruitify.Web.ViewModels.Administration.Receipts.ReceiptWebAllModel

@{
    ViewData["Title"] = "All Juices User Page";
}

<div class="container">
    <partial name="ReceiptTopBackgroundPartial" />

    <partial name="ReceiptsTablePartial" />
</div>

<partial name="PaginationPartial" />

<br />
