
@{
    ViewData["Title"] = "AdminNavBar";
}

<nav class="navbar navbar-expand-sm bg-primary">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Ценообразуване</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Всички продукти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Плодове</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Зеленчуци</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Всички Рецепти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Сокове</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Салати</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Добави нов продукт</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Добави нова рецепта</a>
        </li>
    </ul>
</nav>

